<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {
            width:auto;
            height:auto;
            background-repeat: no-repeat;
            background-image: url("static/bg1.jpeg");
        }
    </style></head>
<body>
<form action="adminaddpetupdate">
    <div align="center">
        <h1>
            宠物信息添加<br><br>
        </h1>
    </div>
    <table width="98%" height="435" border="1" cellspacing="0" bgcolor="#f0f8ff">
        <tr>
            <td width="23%"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="28%">UID:</td>
                        <td width="72%"><input  name="UID" type="text"></td>
                    </tr>
                </table>
            </div></td>
            <td width="24%"><div >
                <table width="100%" border="0">
                    <tr>
                        <td width="31%">分类:</td>
                       <td width="72%"><input  name="classify" type="text"></td>
                    </tr>
                </table>
            </div></td>
            <td width="30%"><div>
                <table width="100%" border="0">
                    <tr>
                        <td>疫苗接种时间:</td>
                        <td><input   type="text" name="vaccine"></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
            <td height="63"><div >
                <table width="100%" border="0">
                    <tr>
                        <td width="28%">昵称:</td>
                        <td width="72%"><input type="text" name="nickname"></td>
                    </tr>
                </table>
            </div></td>
            <td><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="31%">年龄:</td>
                        <td width="69%"><input type="text" name="age"></td>
                    </tr>
                </table>
            </div></td>
            <td><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="40%">雌雄:</td>
                        <td width="60%"><input  type="text" name="sex"></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
            <td rowspan="2"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="28%">病史:</td>
                        <td width="72%"><textarea  name="anamnesis" cols="" rows=""></textarea></td>
                    </tr>
                </table>
            </div></td>
            <td rowspan="2"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="31%">喜好:</td>
                        <td width="69%"><textarea   name="likeq" cols="" rows=""></textarea></td>
                    </tr>
                </table>
            </div></td>
            <td><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="40%">训练状况:</td>
                        <td width="60%"><input  type="text" name="drill"></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
            <td height="32"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="40%">价格:</td>
                        <td width="60%"><input   type="text" name="offeringprice"></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
            <td rowspan="2"><div align="center">
                <table width="100%" border="0">
                    <tr>
                        <td width="28%">健康状况:</td>
                        <td width="72%"><textarea  name="physicalcondition" cols="" rows=""></textarea></td>
                    </tr>
                </table>
            </div></td>
            <td rowspan="2"><div align="center">
                <table width="100%" border="0">
                    <tr>
                        <td width="31%">饮食结构:</td>
                        <td width="69%"><textarea  name="dietarystructure" cols="" rows=""></textarea></td>
                    </tr>
                </table>
            </div></td>
            <td height="47"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="40%">攻击性:</td>
                        <td width="60%"><input type="text" name="aggressivity"></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
            <td height="48"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="40%">到店时间:</td>
                        <td width="60%"><input   type="text" name="commentthree"></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
            <td rowspan="2"><div align="center">
                <table width="100%" border="0">
                    <tr>
                        <td width="28%">健康备注:</td>
                        <td width="72%"><textarea  name="commentone" cols="" rows=""></textarea></td>
                    </tr>
                </table>
            </div></td>
            <td rowspan="2"><div align="center">
                <table width="100%" border="0">
                    <tr>
                        <td width="31%">疫苗记录:</td>
                        <td width="69%"><textarea  name="record" cols="" rows="">
              </textarea></td>
                    </tr>
                </table>
            </div></td>
            <td rowspan="2"><div>
                <table width="100%" border="0">
                    <tr>
                        <td width="40%">注意事项:</td>
                        <td width="60%"><textarea  name="mattersneedattention" cols="" rows=""></textarea></td>
                    </tr>
                </table>
            </div></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><div align="center">
                <table width="100%" border="0">
                    <tr>
                        <td width="28%">出售状态:</td>
                        <td width="72%"><input  type="text" name="ifsell"></td>
                    </tr>
                </table>
            </div></td>
            <td><div align="center">
                <table width="100%" border="0">
                    <tr>
                        <td width="31%">购买须知:</td>
                        <td width="69%"><textarea  name="purchasenotes" cols="" rows="">&nbsp;</textarea></td>
                    </tr>
                </table>
            </div></td>
            <td height="110" colspan="1" ><div  id="tj"><input  type="submit"value="添加"></div></td>
        </tr>
    </table>

</form>
</body>
</html>