<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户信息</title>
    <style type="text/css">
        body {
            width:auto;
            height:auto;
            background-repeat: no-repeat;
            background-image: url("static/bg1.jpeg");
        }
    </style></head>
<body>
<form action="adminadduser">
    <div align="center">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <table width="33%" border="0">
            <tr>
                <td colspan="2"><h1 align="center">添加用户信息</h1></td>
            </tr>
            <tr>
                <td width="29%"><div align="center">UID</div></td>
                <td width="71%"><input type="text" name="UID"></td>
            </tr>
            <tr>
                <td><div align="center">用户名</div></td>
                <td><input  type="text" name="username"></td>
            </tr>
            <tr>
                <td><div align="center">年龄</div></td>
                <td><input  type="text" name="age"></td>
            </tr>
            <tr>
                <td><div align="center">性别</div></td>
                <td><input  type="text" name="sex"></td>
            </tr>
            <tr>
                <td><div align="center">权限</div></td>
                <td>
                    <input type="radio" name="classify" id="radio" value="7">
                    <label for="radio">管理员</label>
                    <input type="radio" name="classify" id="radio2" value="8">
                    <label for="radio2">店员</label>
                    <input type="radio" name="classify" id="radio3" value="9">
                    <label for="radio3">饲养员</label></td>
            </tr>
            <tr>
                <td><div align="center">电话</div></td>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <td><div align="center">密码</div></td>
                <td><input  type="text" name="password"></td>
            </tr>
            <tr>
                <td colspan="2"><div align="center">
                    <input type="submit"value="添加">
                </div></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>