<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题上报</title>
</head>
<body>
<form action="useraddproblem">
    <div align="center"><br>
        <br> <br><br><br><br>
        <table width="38%" border="0" bgcolor="#f0ffff">
            <tr>
                <td colspan="2"><div align="center">问题上报</div></td>
            </tr>
            <tr>
                <td width="37%" height="32"><div align="right">标题:</div></td>
                <td width="63%"><input  type="text" name="title"></td>
            </tr>
            <tr>
                <td height="110"><div align="right">详细:</div></td>
                <td><textarea name="body" cols="" rows=""></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><div
                        align="center"><input type="submit"value="添加"></div></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>