<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
 <div>
    <div align="center">
    <form action="userupdatepassword">
    <table>
    <tr>
    <td>
    原密码
    </td>
    <td>
     <input  type="text" name="yuan">
    </td>
    </tr>
    
    <tr>
    <td>
    新密码
    </td>
    <td>
      <input  type="text" name="xin1">
    </td>
    </tr>
    
    <tr>
    <td>
    重复新密码
    </td>
    <td>
     <input  type="text" name="xin2">
    </td>
    </tr>
    
    <tr>
    <td colspan="2" align="center">
    <button type="submit">提交</button>
    </td>
     
     </tr>
    </table>

       </form>
    </div>
 </div>
</body>
</html>